* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav-list {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  list-style-type: none;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item {
  margin-right: 15px;
}

.nav-item a {
  color: seashell;
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.9;
}

/* Mission section */

#mission {
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
  justify-content: center;
  margin-top: 69px;
}

.mission-text {
  background-color: black;
  width: 1200px;
  padding: 10px 0;
}

.mission-text h2 {
  margin-bottom: 15px;
}

/* Featured Tea section */

#featured-tea {
  width: 1000px;
  margin-top: 60px;
}

.featured-tea-text h2 {
  margin-bottom: 15px;
}

.tea-img {
  height: 200px;
  width: 300px;
  margin: 20px 15px 10px;
}

.tea {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Locations section */

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 575px;
  margin-top: 60px;
  width: 1200px;
}

#locations h2 {
  margin-top: 60px;
}

.location {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.loc {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin: 0 20px;
  width: 300px;
}