* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

.nav-list {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  list-style-type: none;
}

.logo {
  height: 50px;
  margin-left: 10px;
}

.nav-item:first-child {
  margin-right: auto;
}

.nav-item {
  margin-right: 15px;
}

.nav-item a {
  color: seashell;
  text-decoration: underline;
}

#mission {
  align-items: center;
  background-image: url("../images/img-mission-background.jpg");

  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 700px;
  justify-content: center;
}

#mission div {
  background-color: black;
  width: 1200px;
}

.mission-title {
  margin: 10px 0;
}

.mission-text {
  margin: 20px 0;
}
